@import '../../style/mixin';

.landing-container {
  width: 100%;
  overflow:hidden
}
#scroll-section-0 {
  display: flex;
  background-color: #caf3f7;
  padding-top: 10rem;
  padding-left: 5%;
  padding-right: 5vh;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.scroll-section0-left {
  display: flex;
  flex: 1;
  max-width: 50rem;
  min-width: 30rem;
  height: 250px;
  margin-top: 5%;
  flex-direction: column;
  text-align: center;
  animation-duration: 1s;
  animation-name: show-from-bottom;
  transition: all .15s ease-in-out .15s;
}
.landing-section0-logo {
  width: 100%;
  height: 100%;
}
.scroll-section0-img {
  display: flex;
  width: 100%;
  height: 100%;
}
.scroll-section0-message-a{
  width: 100%;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.scroll-section0-right {
  display: flex;
  flex: 1;
  align-items: center;
  height: 500px;
  animation-duration: 1s;
  animation-name: show-from-right;
  transition: all .15s ease-in-out .15s;
}
.scroll-section0-gif {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 20px;
  background-color: white;
}
.landing-gif {
  width: 100%;
  border-radius: 20px;
}
@keyframes show-from-bottom{
  0% {
      transform: translate(0, 100px);
      opacity: 0;
  }
  100% {
      transform: translate(0, 0);
      opacity: 1;
  }
}

@keyframes show-from-right{
  0% {
      transform: translate(100px, 0);
      opacity: 0;
  }
  100% {
      transform: translate(0, 0);
      opacity: 1;
  }
}
/////////////// section1
#scroll-section-1 {
  display: flex;
  background-color: #ffffff;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  flex-wrap: wrap;
}

.scroll-section1-left {
  display: flex;
  flex: 1;
  max-width: 40rem;
  min-width: 20rem;
  margin-right: 5rem;
  height: 700px;
  flex-direction: column;
  text-align: center;
}
.scroll-section1-search-img {
  max-width: 45rem;
  min-width: 30rem;
  height: 100%;
  margin-top: 3rem;
  flex: 1;
}
.search-img {
  width: 100%;
  height: 100%;
}
.scroll-section1-message-a {
  width: 100%;
  font-size: 1.5rem;
}
.scroll-section1-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 1;
  margin-top: 8rem;
  margin-left: 10rem;
  max-width: 40rem;
  min-width: 20rem;
  height: 700px;
}
.scroll-section1-map-img {
  max-width: 28rem;
  min-width: 23rem;
  height: 22rem;
  flex: 1;
}
.map-img {
  width: 100%;
  height: 100%;
}
.scroll-section1-right-bottom {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
}
.scroll-section1-message-b {
  width: 100%;
  margin-top: 5rem;
  font-size: 1.5rem;
}
.scroll-section1-thinking-img {
  width: 8rem;
  height: 8rem;
}
.thinking-img {
  width: 8rem;
  height: 8rem;
}

#scroll-section-2 {
  display: flex;
  background-color: #e8f8f9;
  padding-top: 10%;
  justify-content: center;
  flex-wrap: wrap;
}
.scroll-section2-left {
  display: flex;
  flex: 1;
  max-width: 45rem;
  min-width: 30rem;
  height: 500px;
  flex-direction: column;
  text-align: center;
}

.scroll-section2-register-img {
  max-width: 40rem;
  min-width: 20rem;
  height: 35rem;
  
}
.landing-register {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.scroll-section2-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex: 1;
  max-width: 30rem;
  min-width: 20rem;
  height: 500px;
}

.scroll-section2-auction-img {
  
  max-width: 10rem;
  min-width: 5rem;
  height: 10rem;
  margin-top: 5rem;
}
.auction-img {
  width: 100%;
  height: 100%;
}
.scroll-section2-message-a {
  width: 100%;
  margin: 5% 0;
  font-size: 1.5rem;
}

@include desktopL {
  .landing-container {
    width: 100%;
    justify-content: center;
    
  }
  #scroll-section-0 {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
  }
  .scroll-section0-left {
    margin-top: -7rem;
    align-items: center;
  }
  .landing-section0-logo {
    width: 90%;
    height: 70%;
  }
  .scroll-section0-img {
    justify-content: center;
    width: 80%;
    height: 200px;
  }
  .scroll-section0-message-a{
    height: 1.5rem;
    font-size: 1rem;
    margin: 0px;
  }

  .section0-logo-bottom {
    width: 70%;
  }
  .scroll-section0-right {
    display: flex;
    flex: 1;
    max-width: 50rem;
    min-width: 25rem;
    margin-top: -35%;
    align-items: center;
    height: 300px;
  }
  .scroll-section0-gif {
    max-width: 40rem;
    min-width: 30rem;
    max-height: 30rem;
    min-height: 25rem;
  }
  .landing-gif {
    width: 100%;
    border-radius: 20px;
  }

  #scroll-section-1 {
    flex-direction: column;
    align-content: center;
    margin-left: 4rem;
    height: 100%;
    width: 100%;
  }
  
  .scroll-section1-left {
  max-width: 50rem;
  min-width: 25rem;
  margin-top: -5%;
  align-items: center;
  height: 300px;
  }
  
  .search-img {
    width: 20rem;
    height: 20rem;
  }
  .scroll-section1-message-a {
    width: 100%;
    font-size: 1rem;
  }
  .scroll-section1-right {
    width: 20rem;
    height: 50%;
    margin-left: 4.5rem;
    align-items: center;
  }
  
  .map-img {
    width: 17rem;
    height: 14rem;
  }
  .scroll-section1-right-bottom {
    margin-top: 1rem;
  }
  .scroll-section1-message-b {
    margin-top: 3.5rem;
    font-size: 1rem;
    word-break: keep-all;

  }
  .scroll-section1-thinking-img {
    width: 12rem;
    height: 7rem;
  }

  #scroll-section-2 {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .scroll-section2-left {
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    align-items: center;
    margin-top: 0;
  }
  
  .scroll-section2-right {
    margin-top: 0;
    margin-left: 0;
    height: 100%;
  }

  .scroll-section2-register-img {
    max-width: 100%;
    min-width: 100%;
    height: 450px;
    
  }

  .landing-register {
    width: 60%;
  }

  .scroll-section2-message-a {
    margin-top: 1rem;
    font-size: 1rem;
  }

@include mobile {
  #scroll-section-0 {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .scroll-section0-left {
    min-width: 100%;
    height: 50%;
    margin-top: 10%;
    z-index: 999;
  }
  .landing-section0-logo {
    height: 50%;
    width: 100%;
  }
  .scroll-section0-img {
    justify-content: center;
  }
  .scroll-section0-message-a{
    height: 50px;
    font-size: 1rem;
    word-break: keep-all;
  }
  .scroll-section0-right {
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    justify-content: center;
    margin-top: -50%;
  }
  .scroll-section0-gif {
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;
  }

  #scroll-section-1 {
    padding-left: 0;
  }

  .scroll-section1-message-a {
    font-size: 1rem;
  }

  .scroll-section1-right {
    margin-top: 3rem;
  }
  .scroll-section1-message-b {
    margin-top: 3rem;
    font-size: 1rem;
    word-break: keep-all;
  }

  #scroll-section-2 {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .scroll-section2-left {  
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    align-items: center;
    margin-top: 0;
  }
    
  .scroll-section2-right {
    margin-top: 0;
    margin-left: 0;
  }

  .scroll-section2-auction-img {
    max-width: 200px;
    min-width: 200px;
    height: 200px;
    margin-top: 2rem;
  }

  .scroll-section2-register-img {
    max-width: 100%;
    min-width: 100%;
    height: 80%;
  }
  .landing-register {
    width: 80%;
  }
  .scroll-section2-message-a {
  margin-top: 1rem;
  font-size: 1rem;
  }
}
} 
