#scroll-section-0 {
  display: flex;
  background-color: #caf3f7;
  padding-top: 30vh;
  padding-left: 5vh;
  padding-right: 5vh;
  justify-content: space-between;
  flex-wrap: wrap;
}
.scroll-section0-left {
  display: flex;
  flex: 1;
  max-width: 50rem;
  min-width: 30rem;
  height: 250px;
  flex-direction: column;
  text-align: center;
  animation-duration: 1s;
  animation-name: show-from-bottom;
  transition: all .15s ease-in-out .15s;
}
.scroll-section0-img {
  display: flex;
  width: 100%;
  height: 100%;
}
.scroll-section0-message-a{
  // margin-left: 20vh;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}
.scroll-section0-right {
  display: flex;
  flex: 1;
  max-width: 50rem;
  min-width: 25rem;
  height: 500px;
  animation-duration: 1s;
  animation-name: show-from-right;
  transition: all .15s ease-in-out .15s;
}
.scroll-section0-gif {
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
}
@keyframes show-from-bottom{
  0% {
      transform: translate(0, 100px);
      opacity: 0;
  }
  100% {
      transform: translate(0, 0);
      opacity: 1;
  }
}

@keyframes show-from-right{
  0% {
      transform: translate(100px, 0);
      opacity: 0;
  }
  100% {
      transform: translate(0, 0);
      opacity: 1;
  }
}
///////////////
#scroll-section-1 {
  display: flex;
  background-color: #ffffff;
  padding-top: 20vh;
  padding-left: 5vh;
  padding-right: 15vh;
  justify-content: space-between;
  flex-wrap: wrap;
}

.scroll-section1-left {
  display: flex;
  flex: 1;
  max-width: 40rem;
  min-width: 30rem;
  height: 500px;
  flex-direction: column;
  text-align: center;
}
.scroll-section1-search-img {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}
.scroll-section1-message-a {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}
.scroll-section1-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  max-width: 30rem;
  min-width: 20rem;
  height: 600px;
}
.scroll-section1-map-img {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: white;
}
.scroll-section1-right-bottom {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}
.scroll-section1-message-b {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.scroll-section1-thinking-img {
  flex: 1;
  width: 50%;
  height: 50%;
}

//////////////
#scroll-section-2 {
  display: flex;
  background-color: #e8f8f9;
  padding-top: 10vh;
  padding-left: 10vh;
  padding-right: 10vh;
  justify-content: space-between;
  flex-wrap: wrap;
}
.scroll-section2-left {
  display: flex;
  flex: 1;
  max-width: 40rem;
  min-width: 30rem;
  height: 500px;
  flex-direction: column;
  text-align: center;
}
.scroll-section2-register-img {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 7rem;
  border-radius: 30px;
}
.scroll-section2-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 1;
  max-width: 30rem;
  min-width: 20rem;
  height: 500px;
}
.scroll-section2-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex: 1;
}
.scroll-section2-auction-img {
  width: 50%;
  height: 80%;
}
.scroll-section2-message-a {
  width: 100%;
  height: 20%;
  font-size: 1.5rem;
}
.scroll-section2-message-b {
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  margin-bottom: 7rem;
}