@import '../../style/mixin';

.searchpage-container {
  min-height: calc(100vh-100px);
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@include desktopM {
  .searchpage-container {
    width: 55%;
  } 
}

@include mobile {
  .searchpage-container {
    width: 100%;
  } 
}

