@import '../../../style/variable.scss';
@import '../../../style/mixin';

.defalut-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.search-container {
  display: flex;
  flex-direction: column;
  min-width: 9.5rem;
  max-width: 21.2em;
  flex: 1;
  margin-left: 1rem;
}

.default-icons {
  display: flex;
  align-items: center;
}

.loginsection-container {
  display: flex;
  justify-content: center;
  width: 3.75rem;
  height: 1.875em;
}

.location-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1;
}

@include mobile {
  .defalut-container {
    justify-content: flex-end;
    align-items: center;
  }
  .search-container {
    min-width: 9rem;
    max-width: 15em;
  }
  .loginsection-container{
    width: auto;
    height: auto;
    margin-right: 1rem;
    margin-left: 0.5rem;
  }
  // .loginsection-container > div {
  //   margin-left: 0.3rem;
  // }
}