@import '../../../style//variable.scss';

.filter-container {
  position: relative;
}

.filter-tooltip {
  position: absolute;
  border-radius: 6px;
  padding: 10px;
  visibility: hidden;
  overflow: visible;
  display: flex;
  z-index: 1;
  left: -10%;
  border: 2px solid rgb(151, 149, 149);
  background-color: #ffff;
  top: 3rem;
}
.radio-button {
  display: flex;
  width: 100px;
  
}