@import '../../../style//variable.scss';

.filter-container {
  position: relative;
}
.filter-button {
  width: 2rem;
  height: 2rem;
  margin-top: 0.3rem;
  color: var(--footer-text-color);
  &:hover {
    color: var(--header-icon-color);
    transition: 0.5s ease;
  }
}

.filter-tooltip {
  position: absolute;
  border-radius: 6px;
  padding: 10px;
  visibility: hidden;
  overflow: visible;
  display: flex;
  z-index: 1;
  left: -10%;
  border: 2px solid rgb(151, 149, 149);
  background-color: #ffff;
  top: 3rem;
}
.tooltip-container {
  align-items: center;
}
.radio-button {
  display: flex;
  width: 6.25rem;
  
}
input[type='radio'],
input[type='radio']:checked {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 10px;
  margin-right: 0.1rem;
}
input[type='radio'] {
  background-color: #eee;
  border: 2px solid rgb(151, 149, 149);
  // margin-top: 1rem;
}
input[type='radio']:checked {
  background-color: var(--header-icon-color);
}