@import '../../../style//variable.scss';

.register-btn {
  width: 2rem;
  height: 2rem;
  color: var(--header-icon-color);
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  &:hover {
    transform:scale(1.2);
    color: var(--text-btn-color);
  }
}