@import '../../../style//variable.scss';

.gosearch-btn {
  width: 1.8rem;
  height: 1.8rem;
  margin-bottom: 0.1rem;
  color: var(--footer-text-color);
  &:hover {
    color: var(--header-icon-color);
    transition: 0.5s ease;
  }
}