@import '../../../style//variable.scss';

.gosearch-btn {
  width: 2rem;
  height: 2rem;
  color: var(--header-icon-color);
  &:hover {
    transform:scale(1.2);
    color: var(--text-btn-color);
  }
}