@import '../../../style//variable.scss';

.Logout {
  width: 2rem;
  height: 2rem;
  margin-top: 0.1rem;
  color: var(--footer-text-color);
  &:hover {
    color: var(--text-btn-color);
    transition: 0.5s ease;
  }
}