@import '../../../style/_mixin.scss';

.myoptionGroup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

@include mobile {
  .myoptionGroup-container {
    justify-content: flex-end;
    flex: 1 1 auto;
  }
  .myoptionGroup-container > div{
    margin-left: 0.5rem;
  }
}


.username-container {
  display: flex;
  width: 5.18rem;
  justify-content: center;
}
.GoSearch-container {
  display: flex;
  margin: 0 0.5rem;
  height: 100%;
}
.Logout-container {
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
}
.FilterBtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}