@import '../../../style//variable.scss';

.searchbtn {
  width: 1.8rem;
  height: 1.8rem;
  margin-top: 0.5rem;
  color: $footer-text-color;
  &:hover {
    color: $header-icon-color;
    transition: 0.5s ease;
  }
  }
