.chat-container{
  min-height: 60vh;
  min-width: 40%;
  border: 1px solid #cecece;
}

.chat-title{
  font-size: 1.2rem;
  background-color: #6799FF55;
}

.chat-message-box{
  background-color: #EAEAEA;
}

.chat-write-box{
  background-color: #FFD9EC;
}