.chat-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  min-width: 30%;
}

.chat-title{
  font-size: 1.2rem;
  background-color: #6799FF55;
}

.chat-message-box{
  background-color: #EAEAEA;
  overflow-y: scroll;
  height: 60vh;
  padding: 10px;
}

.chat-write-box{
  background-color: #FFD9EC;
  display:flex;
  align-items: center;
  justify-content: center;
}