@import '../../../style/variable.scss';

.chat-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  min-width: 30%;
}

.chat-title{
  color :rgb(255, 255, 255);
  font-size: var(--font-largest);
  // background-color: var(--mobile-select-color);
  background-color: #4EBDC9;
  text-align: center;
}

.chat-message-box{
  background: linear-gradient(to bottom, #CAF3F7, 30%, #FFFFFF);
  overflow-y: scroll;
  height: 60vh;
  padding: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.chat-write-box{
  display:flex;
  align-items: center;
  justify-content: center;
}