@import '../../../style/variable';
@import '../../../style/mixin';

.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  max-width: 62.5rem;
}

.footer-topbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-logo {
  max-width: 18.75rem;
}

.footer-service {
  font-size: $font-medium;
  text-decoration: none;
  color: $footer-text-color;
  &:hover {
    color: $mobile-select-color;
  }
}

.footer-team {
  font-size: $font-medium;
  color: $footer-text-color;
}

.footer-teamlink {
  margin-left: 0.625rem;
  text-decoration: none;
  color: $footer-text-color;
  &:hover {
    color: $mobile-select-color;
  }
}

.footer-midbox {
  width: 100%;
  display: flex;
  color: $footer-text-color;
  margin: 0.625rem 0px;
}

.footer-rightbox {
  margin-left: 3.125rem;
}

.footer-emailbox {
  display: flex;
  
}

.footer-question{
  margin-right: 1.25rem;
  text-align: center;
}

.footer-bottombox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-textbox {
  display: flex;
  flex-direction: column;
  color: $footer-text-color;
  // flex: 1 0 0;
}

.footer-youtube {
  margin-right: 0.625rem;
  text-decoration: none;
  color: #000000;
}

.footer-github {
  text-decoration: none;
  color: #000000;
}

@include mobile {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 0.625rem;
  }

  .footer-topbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-service {
    margin-bottom: 0.5rem;
  }

  .footer-service,
  .footer-team {
    font-size: $font-small;
  }

  .footer-midbox {
    flex-direction: column;
  }

  .footer-question,
  .footer-email {
    font-size: $font-smallest;
  }

  .footer-textbox {
    // font-size: $font-smallest;
  }

  .footer-iconbox {
    flex: 1 0;
  }
}