@import '../../../style/variable.scss';
@import '../../../style/mixin';

$photoHeightDesktop: 18.750rem;
$photoHeightMobile: 6.25rem;
// calc(#{$photoHeightDesktop} - 60%)

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.register-header {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin: 10px 0px;
}

.register-topbox {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.register-filebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.register-photobox {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: $photoHeightDesktop;
  height: $photoHeightDesktop;
  border: 1px solid $footer-text-color;
  border-radius: 1.25rem;
}

.register-photoerror {
  text-align: center;
  margin: 0.625rem;
  height: 1.25rem;
  color: $card-timer-soon-color;
}

.register-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 1.25rem;
  object-fit: contain;
}

.register-iconbox {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
}

.register-icon {
  width: 3.75rem;
  height: 3.75rem;
}

.register-file {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
}

.register-infobox {
  height: $photoHeightDesktop;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1% 1% 1% 5%;
  flex: 1 1 auto;
}

.register-title,
.register-price {
  width: 100%;
  font-size: $font-medium;
  background: none;
  border: none;
  border-bottom: 1px solid $footer-text-color;
  outline: none;
  &:hover {
    border-color: $card-text-color;
    transition: all 0.2s ease-in-out;
  }
  &::placeholder {
    font-size: $font-medium;
  }
}

.register-titleErr,
.register-priceErr,
.register-endtime,
.register-error {
  width: 15.625rem;
  margin: 0.625rem 0px;
  height: 1.25rem;
  color: $card-timer-soon-color;
}

.register-error {
  text-align: center;
}

.register-period-button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-period {
  width: 30%;
  height: 1.875rem;
  background-color: $modal-bg-color;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  font-size: $font-medium;
  outline: none;
  &:hover {
    background-color: $card-text-color;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
  }
}

.selected-period {
  background-color: $card-text-color;
  color: #ffffff;
}

.register-bottombox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register-description {
  resize: none;
  width: calc(#{$photoHeightDesktop} + 50% + calc((50% - #{$photoHeightDesktop})/2));
  height: 4rem;
  background: none;
  border: none;
  border-bottom: 1px solid $footer-text-color;
  font-size: $font-medium;
  outline: none;
  margin-left: calc((50% - #{$photoHeightDesktop})/2);
  &:hover {
    border-color: $card-text-color;
    transition: all 0.2s ease-in-out;
  }
}

.register-visible {
  display: none;
}

.bordernone {
  border: none;
}

@include desktopS {
  .register {
    width: 70%;
  }

  .register-title,
  .register-price {
    font-size: $font-medium;
    &::placeholder {
      font-size: $font-small;
    }
  }

  .register-period
  .register-submit {
    font-size: $font-small;
  }

  .register-description {
    &::placeholder {
      font-size: $font-small;
    }
  }
}

@include mobile {
  .register {
    width: 100%;
    height: calc(100vh - 100px);
  }

  .register-header {
    display: none;
  }

  .register-topbox {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .register-filebox {
    flex: 0;
  }

  .register-infobox {
    padding: 0px 10px;
    flex: 0;
  }

  .register-photobox {
    width: 11.25rem;
    height: 11.25rem;
  }

  .register-photoerror {
    font-size: $font-smallest;
    margin: 0.625rem 0px 0px 0px;
  }

  .register-file {
    width: 11.25rem;
    height: 11.25rem;
  }

  .register-iconbox {
    top: calc(11.25rem - 61%);
    left: calc(11.25rem - 61%);
  }

  .register-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .register-infobox {
    height: calc(#{$photoHeightMobile} + 2.5rem);
    margin: 0;
  }

  .register-titleErr,
  .register-priceErr,
  .register-endtime,
  .register-error {
    font-size: $font-smallest;
    margin: 5px 0px;
  }

  .register-period {
    font-size: $font-small;
  }

  .register-title,
  .register-price {
    font-size: $font-medium;
    &::placeholder {
      font-size: $font-small;
    }
  }

  .register-bottombox {
    padding: 0px 10px;
  }

  .register-description {
    margin-left: 0;
    width: 100%;
  }
}