@import '../../../style/variable.scss';
@import '../../../style/mixin';

$photoHeightDesktop: 18.750rem;
$photoHeightMobile: 9.375rem;

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 45rem;
  margin-top: -10%;
}

.register-header {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin: 10px 0px;
}

.register-topbox {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.register-filebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-photobox {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: $photoHeightDesktop;
  height: $photoHeightDesktop;
  border: 1px solid $footer-text-color;
  border-radius: 1.25rem;
}

.register-photoerror {
  text-align: center;
  margin: 0.625rem;
  height: 1.25rem;
  color: $card-timer-soon-color;
}

.register-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 1.25rem;
  object-fit: contain;
}

.register-iconbox {
  position: absolute;
  top: calc(#{$photoHeightDesktop} - 60%);
  left: calc(#{$photoHeightDesktop} - 60%);
  z-index: 1;
}

.register-file {
  width: 18.75rem;
  height: 18.75rem;
  opacity: 0;
  z-index: 3;
}

.register-infobox {
  height: $photoHeightDesktop;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1% 1% 1% 5%;
}

.register-title,
.register-price {
  width: 100%;
  font-size: $font-large;
  background: none;
  border: none;
  border-bottom: 1px solid $footer-text-color;
  outline: none;
  &:hover {
    border-color: $card-text-color;
    transition: all 0.2s ease-in-out;
  }
}

.register-titleErr,
.register-priceErr,
.register-endtime,
.register-error {
  margin: 0.625rem 0px;
  height: 1.25rem;
  color: $card-timer-soon-color;
}

.register-period-button-box {
  display: flex;
  flex-direction: row;
}

.register-period {
  width: 30%;
  height: 1.875rem;
  background-color: $modal-bg-color;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  font-size: $font-medium;
  margin-right: calc(10% / 3);
  &:hover {
    background-color: $card-text-color;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
  }
}

.register-bottombox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register-description {
  resize: none;
  width: 100%;
  height: 4rem;
  background: none;
  border: none;
  border-bottom: 1px solid $footer-text-color;
  font-size: $font-medium;
  outline: none;
  &:hover {
    border-color: $card-text-color;
    transition: all 0.2s ease-in-out;
  }
}

.register-visible {
  opacity: 0;
}

.bordernone {
  border: none;
}

@include mobile {
  .register {
    max-width: 23.750rem;
  }

  .register-photobox {
    width: 9.375rem;
    height: 9.375rem;
  }

  .register-file {
    width: 9.375rem;
    height: 9.375rem;
  }

  .register-iconbox {
    top: calc(9.375rem - 70%);
    left: calc(9.375rem - 70%);
  }

  .register-infobox {
    height: calc(#{$photoHeightMobile} + 2.5rem);
    margin: 0;
  }

  .register-title::placeholder,
  .register-price::placeholder,
  .register-description::placeholder{
  font-size: $font-small;
  }

  .register-titleErr,
  .register-priceErr,
  .register-endtime,
  .register-error {
    font-size: $font-smallest;
    margin: 0;
  }

  .register-photoerror {
    font-size: $font-smallest;
    margin: 0;
  }

  .register-period {
    font-size: $font-small;
  }

  .register-title,
  .register-price {
    font-size: $font-medium;
  }
}