.loading-spinner-dimmer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.loading-spinner-background{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #F361A6;
  border-radius: 50%;
  width: 13.5vw;
  height: 13.5vw;
}