.mobile-menu-container {
  display: flex;
  flex-direction: column;
  min-height: 40%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: calc(10%+2rem); 
}

.mobile-name {
  position: absolute;
  top: 10%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-icon {
  width: 50%;
}

.mobile-logout {
  position: absolute;
  right: 1%;
  bottom: 10%;
  width: 40%;
}