.login-error-message {
  font-size: 1.2rem;
}

.editform-wrapper {
  padding: 20px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.editform-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.editform-container {
  display: flex;
}

.editform-input-name {
  height: 1.5rem;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  flex: 1 0 0;
  margin-right: 20px;
}