@import '../../../style/mixin';

.auction-container {
  min-height: calc(100vh-100px);
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@include desktopM {
  .auction-container {
    width: 55%;
  } 
}

@include mobile {
  .auction-container {
    width: 100%;
  } 
}
