@import './variable';

@mixin content-container {
  min-height: calc(100vh-100px);
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@mixin header-icon {
  width: 2rem;
  height: 2rem;
  color: $footer-text-color;
  &:hover {
    color: $text-btn-color;
    transition: 0.5s ease;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-size}) {
    @content;
  }
}

@mixin desktopS {
  @media screen and (max-width: #{$desktopS-size}) {
    @content;
  }
}

@mixin desktopM {
  @media screen and (max-width: #{$desktopM-size}) {
    @content;
  }
}

@mixin desktopL {
  @media screen and (max-width: #{$desktopL-size}) {
    @content;
  }
}