@import '../../../style/variable.scss';

.register-submit {
  width: 9.375rem;
  height: 1.875rem;
  margin-top: 0.5rem; 
  background-color: $modal-bg-color;
  border: none;
  border-radius: 0.313rem;
  outline: none;
  cursor: pointer;
  font-size: $font-medium;
  &:hover {
    background-color: $header-icon-color;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
  }
}

.editform-submit {
  width: 9.375rem;
  height: 1.875rem; 
  background-color: $modal-bg-color;
  border: none;
  border-radius: 0.313rem;
  outline: none;
  cursor: pointer;
  font-size: $font-medium;
  &:hover {
    background-color: $header-icon-color;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
  }
}