@import '../../../style/variable.scss';

.register-submit {
  width: 9.375rem;
  height: 1.875rem;
  margin-top: 1.25rem; 
  background-color: var(--modal-bg-color);
  border: none;
  border-radius: 0.313rem;
  outline: none;
  cursor: pointer;
  font-size: var(--font-medium);
  &:hover {
    background-color: var(--header-icon-color);
    color: #ffffff;
    transition: all 0.2s ease-in-out;
  }
}

.editform-submit {
  width: 9.375rem;
  height: 1.875rem; 
  background-color: var(--modal-bg-color);
  border: none;
  border-radius: 0.313rem;
  outline: none;
  cursor: pointer;
  font-size: var(--font-medium);
  &:hover {
    background-color: var(--header-icon-color);
    color: #ffffff;
    transition: all 0.2s ease-in-out;
  }
}