.itemdetail {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items:center;
  width: 100%;
  margin: 20px;
  padding: 20px;
  height: 100%;
}

.itemdetail-close {
  margin-left: 100%;
  width: 30px;
}

.itemdetail-close:hover {
  filter:brightness(20%);
  -webkit-filter:brightness(20%);
}

.itemdetail-topbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.itemdetail-imgbox {
  width: 300px;
  height: 270px;
  border-radius: 20px;
  background-color: #ffffff;
}

.itemdetail-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: scale-down;
}

.itemdetail-midbox {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px 0px;
}

.itemdetail-price {
  display: flex;
  justify-content: space-between;
}

.itemdetail-price {
  font-size: 1rem;
}

.itemdetail-timer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1rem;
}

.itemdetail-description {
  // margin-bottom: 20px;
  padding: 20px;
}

.itemdetail-btnbox {
  display: flex;
  width: 80%;
}

.bidButton {
  margin: 2%;
  border-radius: 10px;
  border: 1px solid #43C2D9;
  width: 6rem;
  height: 3rem;
}

.bidButton:hover {
  background-color: #43C2D9;
  color: white;
}