@import '../../../style/variable';

.itemdetail {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items:center;
  width: 100%;
  margin: 20px;
  padding: 20px;
  height: 100%;
}

.itemdetail-topbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.itemdetail-imgbox {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: #ffffff;
}

.itemdetail-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: scale-down;
}

.itemdetail-midbox {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem 0px;
}

.itemdetail-price {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #000;
}

.itemdetail-timer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1rem;
}

.itemdetail-description {
  margin: 2rem 0;
  width: 100%;
  word-break: break-all;
}

.itemdetail-btnbox {
  display: flex;
  width: 100%;
  justify-content: center;
}

.bidButton {
  margin: 2%;
  border-radius: 10px;
  border: none;
  width: 6rem;
  height: 3rem;
  background-color: $card-timer-color;
  color: #ffffff;
}

.bidButton:hover {
  background-color: #ffffff;
  color: $card-timer-color;
  transition: all 0.2s ease-in-out;
}

