@import '../../../style/_mixin.scss';

.itemcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 23.36rem;
  width: 20rem;
  padding: 2%;
  margin: 5px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation-duration: 1s;
  animation-name: show-from-bottom;
  transition: all .12s ease-in-out .12s;
  &:hover {
    background-color: #e5f5f9;
  }
}

@keyframes show-from-bottom{
  0% {
      transform: translate(0, 200px);
  }
  100% {
      transform: translate(0, 0);
  }
}

.itemcard-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemcard-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2%;
}

.itemcard-location {
  right: 0.5rem;
  width: 100%;
  font-size: $font-small;
  text-align: right;
  color: $card-location-color;
}

.itemcard-title {
  font-size: $font-medium;
  color: $card-text-color;
  overflow:hidden;
}

.itemcard-price {
  color: $card-text-color;
  font-size: $font-medium;
}

.itemcard-imgbox {
  position: relative;
  width: 15rem;
  height: 10rem;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 0.3rem 0;
}

.itemcard-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: scale-down;
}

.itemcard-stamp {
  position: absolute;
  top: -18%;
  left: -5%;
  width: 30%;
}

@include mobile {
  .itemcard-container {
    width: 100%;
    height: 100%;
  }
  .itemcard-content {
    flex-direction: row;
    justify-content: center;
  }
  .itemcard-stamp {
    width: 30%;
    top: -6%;
    left: 80%;
    transform: rotate(45deg);
  }
}