@import '../../../style/variable.scss';

.timer {
  display: inline;
  font-family: 'Jua', sans-serif;
  font-size: $font-largest;
  color: $card-timer-color;
}

.itemdetail-time {
  font-size: $font-small;
}

.deadline{
  font-family: 'Jua', sans-serif;
  color: $card-timer-soon-color;
}