@import '../../../style/variable.scss';

.timer {
  display: inline;
  font-size: $font-largest;
  color: $card-timer-color;
}

.itemdetail-time {
  font-size: $font-small;
}

.deadline{
  color: $card-timer-soon-color;
}